header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  top: 0;
}

a {
  color: white;
}

.miLogo {
  width: 150px;
  display: block;
}

.forFondo {
  background-color: bisque;
  border-radius: 50px;
}

header li:hover {
  background-color: white;
}

.contactanos {
  text-decoration: none;
  background-color: bisque;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  color: black;
}
.contactanos:hover {
  background-color: beige;
}

.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px bisque;
  height: auto;
}

.lista-linea {
  list-style: none;
}

li {
  display: inline;
  margin-right: 0.3rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.sociales {
  text-align: center;
}

.soc {
  cursor: pointer;
  animation: salto 0.5s infinite alternate;
}

@keyframes salto {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.copy {
  background-color: black;
  text-align: center;
  color: white;
}

p {
  margin-bottom: 0px;
  padding-bottom: 1rem;
}

@media (max-width: 1040px) {
  .sociales {
    text-align: center;
    padding-top: 1rem;
  }
  .left {
    text-align: center;
  }
  .lista-linea a,
  .copy p {
    font-size: 1rem;
  }
}
.inicio {
  background-image: url(../img/slide\ 1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding: 10%;
  margin: auto;
  margin-bottom: 200px;
  width: 100%;
}
.inicio h1 {
  color: black;
  font-size: 100px;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}
.inicio p {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}
.inicio .inicio img {
  padding: 20px;
}
.inicio .fotos {
  width: 400px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/slide\ 1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.carrusel {
  grid-area: seccion2;
}

.section-carousel {
  height: auto;
  padding: 0;
  margin: auto;
}

.carousel-img {
  width: 100%;
  height: 50vw;
  border: 2px solid grey;
  object-fit: fill;
}

.fotosInfo {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  margin: 40px 10%;
  padding: 40px;
  background-image: url(../img/Fondo.jpg);
}

@media (max-width: 1335px) {
  .sobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sobreNosotros h1 {
    font-size: 70px;
  }
  .sobreNosotros p {
    font-size: 20px;
  }
}
@media (max-width: 874px) {
  .sobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sobreNosotros h1 {
    font-size: 40px;
  }
  .sobreNosotros p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .inicio-cartas {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}
@media (max-width: 1240px) {
  .main-tienda {
    text-align: center;
    font-family: "Audiowide";
    padding: 1%;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
}
.section-servicios {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.servicios-div {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  margin: 40px 10%;
}

.servicios-img {
  width: 40%;
}

.servicios-p {
  background-color: beige;
  border: 2px solid grey;
  color: black;
  margin: 1%;
  padding: 10%;
}

.img-cambio2 {
  order: 2;
}

.main-tienda {
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.main-tienda .maint {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.main-tienda .cartita {
  padding-top: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.main-tienda .cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.main-tienda .tienda-boton {
  color: #fafafa;
  background-color: black;
  border: bisque;
}
.main-tienda .tienda-boton:hover {
  background-color: bisque;
}

.main-formulario {
  display: flex;
  padding: 24px;
  justify-content: space-evenly;
}

.section-formulario {
  display: flex;
  max-width: 480px;
}

.formulario {
  color: black;
  display: flex;
  flex-direction: column;
}

.contacto-titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: black;
}

.check-form {
  display: flex;
  margin-bottom: 5px;
  margin-top: 2px;
}

.campo {
  border: none;
  margin-bottom: 5px;
  margin-top: 2px;
  border-radius: 10px;
}

.botonEnviar {
  border-radius: 10px;
  background-color: black;
  border: none;
  color: white;
}
.botonEnviar:hover {
  background-color: bisque;
}

/*# sourceMappingURL=estilo.css.map */
