.main-formulario {
    display: flex;
    padding: 24px;
    justify-content: space-evenly;
}

.section-formulario {
    display: flex;
    max-width: 480px;
}

.formulario {
    color: $color-verde;
    display: flex;
    flex-direction: column;
}

.contacto-titulo {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.0rem;

    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    color: $color-negro;
    text-shadow: 2px 2px $color-verde;
}

.check-form {
    display: flex;
    margin-bottom: 5px;
    margin-top: 2px;
}

.campo {
    border: none;
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 10px;
}

.botonEnviar {
    border-radius: 10px;
    background-color: $color-negro;
    border: none;
    color: white;

    &:hover {
        background-color: bisque;
    }
}