.inicio {
    background-image: url(../img/slide\ 1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 10%;
    margin: auto;
    margin-bottom: 200px;
    width: 100%;


    .tituloInicio {
        color: $color-negro;
        font-size: 100px;
        font-family: 'Dela Gothic One', cursive;
        text-shadow: 2px 2px $color-verde;
    }

    p {
        font-size: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        color: $color-negro;

    }

    .inicio img {
        padding: 20px;
    }

    .fotos {
        width: 400px;

    }


}