.main-tienda {
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .maint {
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .cartita {
        padding-top: 20px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .cards {
        display: flex;
        justify-content: space-around;
        padding-bottom: 24px;

    }

    .tienda-boton {
        color: #fafafa;
        background-color: $color-negro;
        border: bisque;

        &:hover {
            background-color: bisque;



        }
    }

    .tituloProductos {

        color: $color-negro;
        font-size: 100px;
        font-family: 'Dela Gothic One', cursive;
        text-shadow: 2px 2px $color-verde;
        text-align: center;
        margin: 100px;
    }
}